.list-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 10px;
  color:blanchedalmond;
  background-color: rgba(0, 0, 0, 0.5);

}

.list-features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-features-item i {
  font-size: 30px;
}

.list-features-item p {
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 480px) {
  .list-features-item i {
    font-size: 60px;
  }
}

@media (min-width: 760px) {
  .list-features {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}